{% extends 'admins/adminbase.html'%}
{%load static%}
{%block contents%}
<!--<style>-->
<!--    .bg-light{-->
<!--    margin-top: -500px;-->
<!--    background: #65cd00;-->
<!--    padding:10px;-->
<!--    }-->

<!--</style>-->

 <section class="we-do">
    <div class="container">
        <div class="we-do-details">
            <div class="section-header text-center">
                <h2 style="color:white;   ">Admin Home</h2>
                <p style="font-size: large; font-family:'Courier New', Courier, monospace; color:wheat;">
                    Ascochyta leaf spot is characterized by the development of small,
                   circular lesions on cotyledons and leaves of cotton plants. These 
                   lesions typically have a reddish-brown to dark brown color and may
                   exhibit a yellowish halo around them. The disease is favored by warm
                    and humid conditions. It can spread through various means, including 
                    infected seeds, plant debris, and wind-driven rain.

                    Management strategies for Ascochyta Leaf Spot involve a combination of 
                    practices. Crop rotation is recommended to reduce the prevalence of the
                    disease, as well as the planting of disease-resistant cotton varieties.
                    Additionally, timely application of fungicides can be effective in controlling 
                    the spread of the disease.
                </p>
            </div><!--/.section-header-->

        </div><!--/.we-do-details-->
    </div><!--/.container-->
</section><!--/.we-do-->
<img src="" alt="">

{%endblock%}