{% extends 'users/userbase.html'%}
{%load static%}
{%block contents%}
<!--<style>-->
<!--    .bg-light{-->
<!--    margin-top: -500px;-->
<!--    background: #65cd00;-->
<!--    padding:10px;-->
<!--    }-->

<!--</style>-->

 <section class="we-do" >
    <div class="container">
        <div class="we-do-details">
            <div class="section-header text-center" style="margin-top:10%"  >
                <h2 style="color: aquamarine;" >User Home</h2>
                <p style="font-size:large; font-family:'Courier New', Courier, monospace; color:aqua; ">
                 Cotton leaf disease prediction using Convolutional
                 Neural Networks (CNN) represents an innovative approach
                 that harnesses the power of deep learning to enhance accuracy  
                 in disease detection and prediction for cotton crops. CNNs, a type
                 of artificial neural network particularly effective in image processing
                 tasks, are well-suited for analyzing visual data such as images of plant leaves
                </p>
            </div><!--/.section-header-->

        </div><!--/.we-do-details-->
    </div><!--/.container-->
</section><!--/.we-do-->


{%endblock%}